* {
  box-sizing: border-box;
  background:hsla(178, 100%, 28%, 1);
}
body html {
  margin: 0;
  padding: 0;
  background:hsla(178, 100%, 28%, 1);
}
nav {
  width: 100%;
  height: 180px;
  background:hsla(178, 100%, 28%, 1);
  text-align: center;
  font-size: 1rem;
}
.grid-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 40px;
  margin: 0 40px;
  transform-style: preserve-3d;
}
.grid, li {
  display: grid;
  margin: 1em;
}
.animal-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  font-size: 0.3em;
  height: 350px;
  width: 350px;
  background: hsla(153, 100%, 87%, 1);
  border-radius: 5px;
  border: 5px solid black;
  border-top: 20px solid black;
  transition: all 3s ease;
}
img {
  height: 200px;
  width: 80%;
  margin:  .2em auto;
  border: 3px solid black;
  border-radius: 5px;
  outline: 2px solid black;
  outline-offset: -3px;
}
legend {
  color:hsla(153, 100%, 87%, 1);
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.3rem;
  background: black;
}
.horns, .info {
  background:hsla(153, 100%, 87%, 1);
  text-align: center;
  font-size: 1rem;
  padding: 0.8em;
}